.button {
    &__general {
        width: 150px;
        height: 50px;
        margin-right: 25px;
        border: none;
        font-size: 20px;
        color: white;
        background: linear-gradient(to left,  #2f8cab 50%,  #AA4B41 50% );
        background-size: 200% 200%;
        background-position: 100% 100%;
        transition: 0.25s all ease;
        &:hover:first-child {
            background-position: 10% 100%;
        }
        &:hover:last-child {
            background-position: 190% 100%;
        }
    }
    &__home {
        width: 150px;
        height: 50px;
        border: 1px solid black;
        background-color: transparent;
        text-align: center;
    }
}