.button {
    &__general {
        width: 150px;
        height: 50px;
        margin-right: 25px;
        border: none;
        font-size: 20px;
        color: white;
        background: linear-gradient(to left,  #2f8cab 50%,  #AA4B41 50% );
        background-size: 200% 200%;
        background-position: 100% 100%;
        transition: 0.25s all ease;
        &:hover:first-child {
            background-position: 10% 100%;
        }
        &:hover:last-child {
            background-position: 190% 100%;
        }
    }
    &__home {
        width: 150px;
        height: 50px;
        color: white;
        font-weight: 600;
        border: 2px solid white;
        background-color: transparent;
        text-align: center;
        
    }
    &__template {
        width: 250px;
        height: 75px;
        font-size: 25px;
        color: white;
        border: none;
        outline: none;
        background-color: rgb(18, 18, 92);
        &:hover {
            cursor: pointer;
        }
      
    }
        

    
}