.language {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    &__choose {
        width: 100px;
        height: 200px;
        border: 1px solid black;
    }
}