.navbar {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  a {
    color: white;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    li {
      margin: 20px;
      display: flex;
      font-size: 20px;
      &:hover p {
        border-bottom: 1px solid white;
      }
      p {
        color: white;
        border-bottom: 1px solid transparent;
        transition: border-bottom 1s ease;
      }
     
    }
  }
}
