.home {
  height: 100%;
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    height: 50%;
  }
  &__photo {
    width: 450px;
    height: 100%;
    background-color: #8B0F32;
    display: flex;
    align-items: center;
    justify-content: center;
    &-image {
      width: 300px;
      height: 400px;
      border: 2px solid #008080
    }
  }
  &__bcard {
      margin-top: 25px;
      display:flex;
      align-items: flex-end;
      justify-content: space-between;
  }
  &__card {
      border-top: 2px solid #8B0F32;
      border-right: 2px solid #8B0F32;
      width: 500px;
      height: 200px;
  }
  &__content {
    width: 700px;
    height: 400px;
    
    color: white;
    &-text {background-color: #8B0F32;
      h1 {
        font-size: 45px;
        
      }
      h2 {
        font-size: 40px;
      }
    }
  }
  &__buttons {
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
  }
  &__note {
      position: absolute;
      width: 700px;
      height: 600px;
      z-index: 1;
      border-radius: 5px;
      background-color: white;
      border: 1px solid black;
      display: flex;
        justify-content: center;
        align-items: center;
  }
  
}

.note {
    width: 80%;
    height: 90%;
    &__about {
        width: 100%;
        display: flex;
    }
    &__photo {
        width: 50px;
        height: 80px;
        background-color: blue;
    }
    &__info {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}