.header {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    width: 1400px;
    display: flex;
    height: 100%;
}

  &__photo {
    width: 500px;
    background-color: #2f8cab;
    height: 100%;
    z-index: 1;
    &-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    &-wrapper {
      width: 700px;
      position: absolute;
      z-index: 0;
    }
    &-text {
      height: 175px;
    }
    h2 {
      font-size: 40px;
      padding: 5px 0;
    }
    p {
      font-size: 18px;
    }
    
  }
  &__buttons {
    display: flex;
    width: 50%;
  }
  &__social {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 152px;
  }
  &__media {
    height: 50%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #2f8cab;
    border-right: 1px solid #2f8cab;
    div {
      width: 100%;
      display: flex;
    }
  }
}

.photo {
  width: 400px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
}

.headlight {
  width: 100%;
  height: 100px;
  display: flex;
  /* margin: 25px 0; */
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2f8cab;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  h1,
  p {
    color: white;
  }
  &-down {
    background-color: #aa4b41;
    justify-content: center;
  }
}

.mail {
    width: 1400px;
    display: flex;
    justify-content: flex-end;
    h2 {
        color: white;
        font-size: 40px;
    }
}

