.home {
  width: 75vw;
  margin-left: 25vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &__header {
    padding: 150px;
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
    
  }
  &__button {
    padding-top: 25px;
    display: flex;
    a {
    transition: 1s all;
    margin-right: 15px;
    :hover {
      transform: scale(1.1)
    }
    }
  }
}