.template {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    &__image {
        width: 80%;
        transition: 2s all;
        picture > img {
            transition: all 0.25s ease !important;
        }
        picture > img:hover {
                width: 110% !important;
                height: 110% !important;
            
        }
    }
    &__text {
        padding: 25px 0;
    }
    &__button {
        width: 50%;
        padding: 25px 0;
        display: flex;
        justify-content: center;
    }
    &__description{
        padding-left: 25px;
        h2 {
            padding: 10px 0;
        }
        p:last-child {
            padding-bottom: 50px;
        }
        ul {
            
            padding: 10px 15px;
            padding-bottom: 50px;
        }
    }
}